.VA-layout{
  min-height: fit-content;
  /*background-color:#f1c0e3;*/
}

.viewAppointmentForm {
  margin-top: 10%;
  width: 90%;
  border-collapse: collapse;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 30%;
}

.viewAppointmentForm {
  border: 3px solid #BF004A;
  border-radius: 10px;
  padding: 5px;
  
}

.viewAppointmentForm th {
  background-color: #ccc;
}

.viewAppointmentForm tr:nth-child(even) {
  background-color: #2663b3;
}


.mHead{
 color:#bd396c ;
}
.vAppContent{
  background-image: url('../assets/images/bgGif3.gif');
  /*filter: blur(5px);*/
  background-size: cover;
  background-position: center center; 
  min-height: 100hv;
  margin-top: -3.7%;

}
