.VA-layout{
  min-height: fit-content;
  background-color:#f1c0e3;
}

.viewAppointmentForm {
  margin-top: 20%;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.viewAppointmentForm {
  border: 1px solid black;
  padding: 5px;
}

.viewAppointmentForm th {
  background-color: #ccc;
}

.viewAppointmentForm tr:nth-child(even) {
  background-color: #eee;
}

